/*  your css code here. If applicable */
main>div{
	background-color: #f5f5f5;
	padding: 20px;
}
.testimonial-box{
	padding: 10px;
	border: 1px solid #e7e7e7;
	background-color: white;
}
.author{
	text-align: right;
	font-style: italic;
}